#cinema {
    background-color:black;
    width:1200px;
    margin:auto;
}

#cinema p {
    color:white;
}

.seat {
    color:white;
    display:inline-block;
    padding:10px 25px;
    width:10px;
}

.taken {
    background-color: #ff3f49;
}

.new0 {
    background-color: #4fff33;
}
.new1 {
    background-color: #2d9321;
}
.new2 {
    background-color: #ffc32b;
}
.new3 {
    background-color: #4858ff;
}
.new4 {
    background-color: #eb4dff;
}
.new5 {
    background-color: #5cf0ff;
}
.new6 {
    background-color: #ffa68b;
}
.new7 {
    background-color: #c092ff;
}
.new8 {
    background-color: #4bccff;
}
.new9 {
    background-color: #7a1000;
}
.new10 {
    background-color: #151946;
}
